<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
</head>
<body>
    <header>
        <div>
            <div id="CefsaLogo">
                <a asp-action="Index"><img src="~/img/cefsaLOGO.png" /></a>
            </div>
        </div>
    </header>

    <main>
    </main>

    <footer>
    </footer>
</body>
</html>
